src/main/mule/ft-testapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
	<apikit:config outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="mdt-api-template-config"
		doc:id="37914fde-18e3-483b-bc08-8b3d974564d5" name="ft-ent-app-api-config" api="resource::6d92b3ad-78c1-4cab-bd99-fc90eff84320:ft-ent-creditplus-sapi:1.0.2:raml:zip:ft-ent-creditplus-sapi.raml"
		doc:description="API Router Configuration" />
	<flow name="ft-ent-app-api-main:privateFlow">
		<http:listener path="/*" config-ref="HTTPS_Listener_Config_Private">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="set correlationId" doc:id="6e389802-7556-4c0d-8e32-72f150dcd632"
			name="globals-common:setCorrelationIdSubFlow" />
		<apikit:router config-ref="ft-ent-app-api-config" />
		<error-handler ref="ApiKit_Error_Handler" />
	</flow>
</mule>
